Repository opentiny/tiny-editor, pull requests merged in 2024-09, with the labels that each got.

#34 fix: toolbar video button can't insert video correctly
  packages/fluent-editor/src/link/modules/tooltip.ts
  packages/fluent-editor/src/video/index.ts
Labels: bug

#35 feat: format-painter
  packages/docs/fluent-editor/.vitepress/sidebar.ts
  packages/docs/fluent-editor/demos/format-painter.vue
  packages/docs/fluent-editor/docs/format-painter.md
  packages/fluent-editor/src/config.ts
  packages/fluent-editor/src/config/icons.config.ts
  packages/fluent-editor/src/declare.d.ts
  packages/fluent-editor/src/fluent-editor.ts
  packages/fluent-editor/src/format-painter/index.ts
  packages/fluent-editor/tsconfig.json
Labels: enhancement

#37 docs: add formula demo
  packages/docs/fluent-editor/.vitepress/sidebar.ts
  packages/docs/fluent-editor/demos/formula.vue
  packages/docs/fluent-editor/docs/formula.md
  packages/docs/package.json
  pnpm-lock.yaml
Labels: documentation

#38 docs: add markdown demo
  packages/docs/fluent-editor/.vitepress/sidebar.ts
  packages/docs/fluent-editor/demos/markdown.vue
  packages/docs/fluent-editor/docs/markdown.md
  packages/docs/package.json
  pnpm-lock.yaml
Labels: documentation

#39 docs: fix markdown docs
  packages/docs/fluent-editor/demos/markdown.vue
Labels: documentation

#43 fix: wrong ts options type
  packages/fluent-editor/src/config/types/editor-config.interface.ts
  packages/fluent-editor/src/config/types/type.ts
  packages/fluent-editor/src/fluent-editor.ts
Labels: bug

#42 ci: add autoLabeler of PR
  .github/auto-labeler.yml
  .github/workflows/auto-labeler.yml
Labels: ci

#48 fix: format-painter with not format warning
  packages/docs/fluent-editor/demos/format-painter.vue
  packages/fluent-editor/src/fluent-editor.ts
  packages/fluent-editor/src/format-painter/index.ts
Labels: bug

#51 fix: toolbar style update and ts error
  packages/fluent-editor/src/assets/font.scss
  packages/fluent-editor/src/assets/lineHeight.scss
  packages/fluent-editor/src/assets/size.scss
  packages/fluent-editor/src/assets/toolbar.scss
  packages/fluent-editor/src/config/types/toolbar-item.interface.ts
  packages/fluent-editor/src/config/types/type.ts
  packages/fluent-editor/src/lineheight.ts
  packages/fluent-editor/src/toolbar/index.ts
Labels: bug

#52 docs: add image-upload-to-server demo
  packages/docs/fluent-editor/demos/image-upload-to-server.vue
  packages/docs/fluent-editor/docs/image-upload.md
  packages/fluent-editor/src/custom-clipboard.ts
  packages/fluent-editor/src/custom-uploader.ts
Labels: documentation

#53 docs: add counter docs
  packages/docs/fluent-editor/.vitepress/sidebar.ts
  packages/docs/fluent-editor/demos/counter-count.vue
  packages/docs/fluent-editor/demos/counter.vue
  packages/docs/fluent-editor/demos/image-upload.spec.ts
  packages/docs/fluent-editor/docs/counter.md
Labels: documentation

#56 docs: add get-html demo
  packages/docs/fluent-editor/.vitepress/sidebar.ts
  packages/docs/fluent-editor/demos/get-html.vue
  packages/docs/fluent-editor/docs/formula.md
  packages/docs/fluent-editor/docs/get-html.md
Labels: documentation

#55 Build split code
  README.md
  README.zh-CN.md
  packages/docs/fluent-editor/demos/basic-usage.vue
  packages/docs/fluent-editor/demos/code-block-highlight.vue
  packages/docs/fluent-editor/demos/counter-count.vue
  packages/docs/fluent-editor/demos/counter.vue
  packages/docs/fluent-editor/demos/custom-toolbar.vue
  packages/docs/fluent-editor/demos/emoji.vue
  packages/docs/fluent-editor/demos/file-upload.vue
  packages/docs/fluent-editor/demos/format-painter.vue
  packages/docs/fluent-editor/demos/formula.vue
  packages/docs/fluent-editor/demos/get-html.vue
  packages/docs/fluent-editor/demos/image-upload-to-server.vue
  packages/docs/fluent-editor/demos/image-upload.vue
  packages/docs/fluent-editor/demos/markdown.vue
  packages/docs/fluent-editor/demos/mention-custom-list.vue
  packages/docs/fluent-editor/demos/mention.vue
  packages/docs/fluent-editor/demos/table.vue
  packages/docs/fluent-editor/demos/video.vue
  packages/docs/fluent-editor/docs/code-block-highlight.md
  packages/docs/fluent-editor/docs/quick-start.md
  packages/docs/fluent-editor/vite.config.ts
  packages/docs/package.json
  packages/fluent-editor/package.json
  packages/fluent-editor/scripts/pre-release.js
  packages/fluent-editor/src/assets/style.scss
  packages/fluent-editor/src/config/types/editor-modules.interface.ts
  packages/fluent-editor/src/index.ts
  packages/fluent-editor/src/screenshot/index.ts
  packages/fluent-editor/src/styles.scss
  packages/fluent-editor/src/syntax/index.ts
  packages/fluent-editor/src/toolbar/index.ts
  packages/fluent-editor/vite.config.theme.ts
  packages/fluent-editor/vite.config.ts
  pnpm-lock.yaml
Labels: refactoring

#60 fix: fix style.scss error
  packages/docs/fluent-editor/.vitepress/theme/style.css
  packages/docs/fluent-editor/demos/basic-usage.vue
  packages/docs/fluent-editor/demos/code-block-highlight.vue
  packages/docs/fluent-editor/demos/counter-count.vue
  packages/docs/fluent-editor/demos/counter.vue
  packages/docs/fluent-editor/demos/custom-toolbar.vue
  packages/docs/fluent-editor/demos/emoji.vue
  packages/docs/fluent-editor/demos/file-upload.vue
  packages/docs/fluent-editor/demos/format-painter.vue
  packages/docs/fluent-editor/demos/formula.vue
  packages/docs/fluent-editor/demos/get-html.vue
  packages/docs/fluent-editor/demos/image-upload-to-server.vue
  packages/docs/fluent-editor/demos/image-upload.vue
  packages/docs/fluent-editor/demos/markdown.vue
  packages/docs/fluent-editor/demos/mention-custom-list.vue
  packages/docs/fluent-editor/demos/mention.vue
  packages/docs/fluent-editor/demos/table.vue
  packages/docs/fluent-editor/demos/video.vue
  packages/docs/fluent-editor/docs/quick-start.md
  packages/fluent-editor/package.json
Labels: bug

#65 fix: fix error when execute pnpm dev command
  package.json
  pnpm-lock.yaml
Labels: bug

#62 fix: Fix docs error
  packages/docs/fluent-editor/demos/get-html.vue
Labels: bug

#67 fix: word paste missing formats
  packages/docs/fluent-editor/demos/get-html.vue
  packages/fluent-editor/src/attributors/font-size.ts
  packages/fluent-editor/src/attributors/font-style.ts
  packages/fluent-editor/src/attributors/index.ts
  packages/fluent-editor/src/attributors/line-height.ts
  packages/fluent-editor/src/attributors/text-indent.ts
  packages/fluent-editor/src/config.ts
  packages/fluent-editor/src/fluent-editor.ts
  packages/fluent-editor/src/lineheight.ts
  packages/fluent-editor/src/table/table-config.ts
Labels: bug

#74 feat: add dark theme
  packages/docs/fluent-editor/.vitepress/theme/style.css
Labels: enhancement

#76 docs: delete useless import
  packages/docs/fluent-editor/demos/basic-usage.vue
  packages/docs/fluent-editor/demos/code-block-highlight.vue
  packages/docs/fluent-editor/demos/counter-count.vue
  packages/docs/fluent-editor/demos/counter.vue
  packages/docs/fluent-editor/demos/custom-toolbar.vue
  packages/docs/fluent-editor/demos/emoji.vue
  packages/docs/fluent-editor/demos/file-upload.vue
  packages/docs/fluent-editor/demos/format-painter.vue
  packages/docs/fluent-editor/demos/formula.vue
  packages/docs/fluent-editor/demos/get-html.vue
  packages/docs/fluent-editor/demos/image-upload-to-server.vue
  packages/docs/fluent-editor/demos/image-upload.vue
  packages/docs/fluent-editor/demos/markdown.vue
  packages/docs/fluent-editor/demos/mention-custom-list.vue
  packages/docs/fluent-editor/demos/mention.vue
  packages/docs/fluent-editor/demos/table.vue
  packages/docs/fluent-editor/demos/video.vue
Labels: documentation

#75 feat: screenshot
  packages/docs/fluent-editor/.vitepress/sidebar.ts
  packages/docs/fluent-editor/demos/screenshot/base.vue
  packages/docs/fluent-editor/demos/screenshot/upload.vue
  packages/docs/fluent-editor/docs/screenshot.md
  packages/docs/package.json
  packages/fluent-editor/package.json
  packages/fluent-editor/src/assets/screenshot.scss
  packages/fluent-editor/src/assets/style.scss
  packages/fluent-editor/src/assets/toolbar.scss
  packages/fluent-editor/src/config/icons.config.ts
  packages/fluent-editor/src/config/types/editor-config.interface.ts
  packages/fluent-editor/src/fluent-editor.ts
  packages/fluent-editor/src/screenshot/index.ts
  pnpm-lock.yaml
Labels: enhancement

#77 docs: optimize table demo
  packages/docs/fluent-editor/demos/table.vue
Labels: documentation

#81 fix: screenshot functional bug
  packages/fluent-editor/src/assets/fullscreen.scss
  packages/fluent-editor/src/screenshot/index.ts
  packages/fluent-editor/src/toolbar/index.ts
  packages/fluent-editor/src/utils/scroll-lock.ts
Labels: bug

#83 chore: remove prettier
  .prettierignore
  .prettierrc
  .vscode/settings.json
  packages/fluent-editor/package.json
  pnpm-lock.yaml
Labels: documentation
