Repository opentiny/tiny-editor, pull requests merged in 2024-10, with the labels that each got.

#86 fix: toolbar icon center
  packages/fluent-editor/src/assets/toolbar.scss
Labels: bug

#90 feat: enable format with prettier in eslint
  eslint.config.mjs
  index.html
  origin.html
  package.json
  packages/docs/fluent-editor/.vitepress/theme/style.css
  packages/docs/fluent-editor/docs/quick-start.md
  packages/fluent-editor/src/assets/fileBar.scss
  packages/fluent-editor/src/assets/fullscreen.scss
  packages/fluent-editor/src/assets/link.scss
  packages/fluent-editor/src/assets/screenshot.scss
  packages/fluent-editor/src/assets/size.scss
  packages/fluent-editor/src/assets/style.scss
  packages/fluent-editor/src/assets/tasklist.scss
  packages/fluent-editor/src/assets/toolbar.scss
  packages/fluent-editor/src/fluent-editor.ts
  pnpm-lock.yaml
Labels: enhancement

#93 fix: fix font name display wrong when config custom font toolbar close #92
  packages/docs/fluent-editor/demos/custom-toolbar.vue
  packages/fluent-editor/src/assets/font.scss
Labels: bug

#94 refactor: refactor font scss to eliminate duplicate code and simplify the code
  packages/fluent-editor/src/assets/font.scss
Labels: refactoring

#96 refactor: merge config file
  packages/fluent-editor/src/config/index.ts
  packages/fluent-editor/src/index.ts
Labels: refactoring

#99 chore: remove useless files
  index.html
  origin.html
  packages/fluent-editor/vite.config.ts
Labels: refactoring

#100 build: adjust build dist and move quill to dependencies
  packages/docs/fluent-editor/docs/quick-start.md
  packages/docs/fluent-editor/vite.config.ts
  packages/fluent-editor/package.json
  packages/fluent-editor/scripts/pre-release.js
  packages/fluent-editor/vite.config.theme.ts
Labels: refactoring

#101 feat: default enable add protocol https for link
  packages/fluent-editor/src/config/types/editor-config.interface.ts
  packages/fluent-editor/src/link/formats/link.ts
  packages/fluent-editor/src/link/index.ts
  packages/fluent-editor/src/link/modules/tooltip.ts
Labels: enhancement

#103 feat: generate typescript declaration files
  packages/fluent-editor/package.json
  packages/fluent-editor/tsconfig.json
  packages/fluent-editor/vite.config.ts
  pnpm-lock.yaml
Labels: enhancement

#104 fix: auto protocol in link format
  packages/fluent-editor/src/config/editor.utils.ts
  packages/fluent-editor/src/link/formats/link.ts
  packages/fluent-editor/src/link/modules/tooltip.ts
Labels: bug

#105 docs: add contributing docs
  CONTRIBUTING.md
  CONTRIBUTING.zh-CN.md
  LICENSE
  packages/docs/fluent-editor/.vitepress/sidebar.ts
  packages/docs/fluent-editor/docs/used-in-framework.md
Labels: documentation
