Repository opentiny/tiny-editor, pull requests merged in 2024-08, with the labels that each got.

#2 refactor: refactor docs with vitepress
  .gitignore
  README.md
  README.zh-CN.md
  packages/docs/fluent-editor/.vitepress/config.ts
  packages/docs/fluent-editor/.vitepress/sidebar.ts
  packages/docs/fluent-editor/.vitepress/theme/index.ts
  packages/docs/fluent-editor/.vitepress/theme/vars.css
  packages/docs/fluent-editor/demos/basic-usage.vue
  packages/docs/fluent-editor/docs/basic-usage.md
  packages/docs/fluent-editor/docs/quick-start.md
  packages/docs/fluent-editor/index.md
  packages/docs/fluent-editor/vite.config.ts
  packages/docs/index.html
  packages/docs/package.json
  packages/docs/src/App.vue
  packages/docs/src/components/BasicUsage.vue
  packages/docs/src/main.ts
  packages/docs/src/style.css
  packages/docs/src/vite-env.d.ts
  packages/docs/tsconfig.json
  packages/docs/tsconfig.node.json
  packages/docs/vite.config.ts
  pnpm-lock.yaml
Labels: refactoring

#3 ci: add auto-deploy workflow
  .github/workflows/auto-deploy.yml
  packages/docs/fluent-editor/demos/basic-usage.vue
Labels: ci

#5 docs: optimize demos
  packages/docs/fluent-editor/.vitepress/theme/vars.css
  packages/docs/fluent-editor/docs/basic-usage.md
  packages/docs/fluent-editor/docs/code-block-highlight.md
  packages/docs/fluent-editor/docs/custom-toolbar.md
  packages/docs/fluent-editor/docs/emoji.md
  packages/docs/fluent-editor/docs/file-upload.md
  packages/docs/fluent-editor/docs/image-upload.md
  packages/docs/fluent-editor/docs/mention.md
  packages/docs/fluent-editor/docs/table.md
Labels: documentation

#6 docs: optimize docs
  packages/docs/fluent-editor/.vitepress/config.ts
  packages/docs/fluent-editor/demos/basic-usage.vue
  packages/docs/fluent-editor/docs/quick-start.md
  packages/docs/fluent-editor/index.md
  packages/docs/fluent-editor/public/favicon.ico
  packages/docs/fluent-editor/public/logo.svg
Labels: documentation

#7 chore: add pre-release script
  README.md
  README.zh-CN.md
  packages/docs/fluent-editor/.vitepress/theme/vars.css
  packages/docs/fluent-editor/docs/quick-start.md
  packages/docs/package.json
  packages/fluent-editor/package.json
  packages/fluent-editor/scripts/pre-release.js
  pnpm-lock.yaml
Labels: ci

#8 fix: fix style
  packages/docs/fluent-editor/.vitepress/theme/vars.css
  packages/docs/fluent-editor/demos/code-block-highlight.vue
  packages/docs/fluent-editor/demos/custom-toolbar.vue
  packages/docs/fluent-editor/demos/emoji.vue
  packages/docs/fluent-editor/demos/file-upload.vue
  packages/docs/fluent-editor/demos/image-upload.vue
  packages/docs/fluent-editor/demos/table.vue
  packages/docs/fluent-editor/docs/custom-toolbar.md
  packages/fluent-editor/src/assets/editor.scss
Labels: documentation

#10 fix: table module can't save background color
  packages/fluent-editor/src/table/formats/table.ts
Labels: bug

#13 docs: update README
  README.md
  README.zh-CN.md
Labels: documentation

#15 ci: auto-deploy add paths
  .github/workflows/auto-deploy.yml
Labels: ci

#16 docs: update MentionOption interface
  packages/docs/fluent-editor/docs/mention.md
  packages/fluent-editor/src/mention/Mention.ts
Labels: documentation

#21 docs: optimize quick start docs
  packages/docs/fluent-editor/docs/quick-start.md
Labels: documentation

#24 fix: typo
  packages/docs/fluent-editor/docs/file-upload.md
Labels: documentation

#26 ci: add githook devDependencies
  verifyCommit.js
Labels: ci

#28 chore: add install:browser
  .github/workflows/playwright.yml
  package.json
  packages/docs/package.json
Labels: e2e-test

#29 test: optimize basic-usage test
  .github/workflows/auto-deploy.yml
  packages/docs/fluent-editor/demos/basic-usage.spec.ts
Labels: e2e-test

#30 fix: missing table module keyboard handler
  packages/fluent-editor/src/fluent-editor.ts
Labels: bug

#33 feat(mention): renderMentionItem support html
  packages/docs/fluent-editor/demos/mention-custom-list.vue
  packages/docs/fluent-editor/docs/mention.md
  packages/docs/package.json
  packages/fluent-editor/src/mention/Mention.ts
  pnpm-lock.yaml
Labels: enhancement
