Repository opentiny/tiny-editor, pull requests merged in 2024-11, with the labels that each got.

#113 docs: update README
  .all-contributorsrc
  README.zh-CN.md
Labels: documentation

#112 feat(mention): mention click link
  packages/docs/fluent-editor/demos/mention-link.vue
  packages/docs/fluent-editor/docs/mention.md
  packages/fluent-editor/src/mention/Mention.ts
  packages/fluent-editor/src/mention/MentionLink.ts
Labels: enhancement

#117 fix: move the styles inside the ql-toolbar to avoid style pollution
  packages/fluent-editor/src/assets/toolbar.scss
Labels: bug

#126 chore: lint fix
  .github/workflows/auto-fix.yml
  README.md
  README.zh-CN.md
  package.json
  packages/docs/fluent-editor/docs/used-in-framework.md
  packages/docs/package.json
  packages/fluent-editor/src/assets/font.scss
  packages/fluent-editor/src/assets/mathlive.scss
  packages/fluent-editor/src/custom-clipboard.ts
  packages/fluent-editor/src/link/modules/tooltip.ts
  packages/fluent-editor/src/table/modules/table-selection.ts
  packages/fluent-editor/src/toolbar/index.ts
  packages/fluent-editor/vite.config.ts
  pnpm-lock.yaml
Labels: ci

#127 feat: i18n
  packages/docs/fluent-editor/.vitepress/sidebar.ts
  packages/docs/fluent-editor/demos/i18n-custom.vue
  packages/docs/fluent-editor/demos/i18n.vue
  packages/docs/fluent-editor/demos/table-text-options.vue
  packages/docs/fluent-editor/demos/table.vue
  packages/docs/fluent-editor/docs/i18n.md
  packages/docs/fluent-editor/docs/table.md
  packages/fluent-editor/src/config/editor.config.ts
  packages/fluent-editor/src/config/i18n/en-us.ts
  packages/fluent-editor/src/config/i18n/zh-cn.ts
  packages/fluent-editor/src/config/index.ts
  packages/fluent-editor/src/config/types/editor-config.interface.ts
  packages/fluent-editor/src/counter/index.ts
  packages/fluent-editor/src/custom-clipboard.ts
  packages/fluent-editor/src/fluent-editor.ts
  packages/fluent-editor/src/link/modules/tooltip.ts
  packages/fluent-editor/src/table/modules/table-operation-menu.ts
Labels: enhancement

#130 fix: only display warn when lang is not config
  packages/fluent-editor/src/config/editor.config.ts
  packages/fluent-editor/src/fluent-editor.ts
  packages/fluent-editor/src/utils/debounce.ts
  packages/fluent-editor/src/utils/is.ts
  packages/fluent-editor/src/utils/method.ts
Labels: bug

#128 feat: base toolbar tip
  packages/docs/fluent-editor/demos/custom-toolbar.vue
  packages/fluent-editor/package.json
  packages/fluent-editor/src/assets/common.scss
  packages/fluent-editor/src/assets/common/config.scss
  packages/fluent-editor/src/assets/editor.scss
  packages/fluent-editor/src/assets/fullscreen.scss
  packages/fluent-editor/src/assets/toolbar.scss
  packages/fluent-editor/src/config/i18n/en-us.ts
  packages/fluent-editor/src/config/i18n/zh-cn.ts
  packages/fluent-editor/src/fluent-editor.ts
  packages/fluent-editor/src/fullscreen/handler.ts
  packages/fluent-editor/src/toolbar/index.ts
  packages/fluent-editor/src/toolbar/toolbar-tip.ts
  pnpm-lock.yaml
Labels: enhancement

#134 fix: fix 'Cannot convert undefined or null to object' error when pasting content with header formatting
  packages/fluent-editor/src/table/utils/node-matchers.ts
Labels: bug
