Repository opentiny/tiny-editor, pull requests merged in 2024-12, with the labels that each got.

#139 fix(table): replace deprecated with Clipboard API
  packages/fluent-editor/src/table/modules/table-operation-menu.ts
Labels: bug

#142 fix: fix disable resize failed in firefox
  packages/fluent-editor/src/custom-image/image.ts
Labels: bug

#144 docs: add set-content demo
  README.md
  README.zh-CN.md
  packages/docs/fluent-editor/.vitepress/sidebar.ts
  packages/docs/fluent-editor/demos/get-content-delta.vue
  packages/docs/fluent-editor/demos/get-content-html.vue
  packages/docs/fluent-editor/demos/set-content-delta.vue
  packages/docs/fluent-editor/demos/set-content-html.vue
  packages/docs/fluent-editor/docs/get-content.md
  packages/docs/fluent-editor/docs/get-html.md
  packages/docs/fluent-editor/docs/set-content.md
  packages/docs/fluent-editor/docs/table.md
  packages/fluent-editor/src/custom-image/image.ts
Labels: documentation

#138 fix: mathlive formula should not display edit dialog when quill disabled
  packages/fluent-editor/src/assets/mathlive.scss
  packages/fluent-editor/src/fluent-editor.ts
  packages/fluent-editor/src/mathlive/formats.ts
  packages/fluent-editor/src/mathlive/index.ts
  packages/fluent-editor/src/mathlive/tooltip.ts
Labels: bug

#145 fix: set font family doesn't effect
  packages/fluent-editor/src/assets/style.scss
  packages/fluent-editor/src/attributors/font-style.ts
Labels: bug

#148 chore: upgrade deps version
  README.md
  README.zh-CN.md
  packages/docs/fluent-editor/.vitepress/theme/index.ts
  packages/docs/fluent-editor/.vitepress/theme/insert-deps-version.ts
  packages/docs/fluent-editor/vite.config.ts
  packages/docs/package.json
  pnpm-lock.yaml
Labels: documentation

#153 chore: add fluent editor version
  packages/docs/fluent-editor/.vitepress/theme/insert-deps-version.ts
Labels: documentation

#155 fix: fix line-height invalid close #154
  packages/docs/fluent-editor/demos/custom-toolbar.vue
  packages/fluent-editor/src/fluent-editor.ts
Labels: bug

#159 docs: add demo "add toolbar item"
  packages/docs/fluent-editor/.vitepress/sidebar.ts
  packages/docs/fluent-editor/demos/add-toolbar-item.vue
  packages/docs/fluent-editor/docs/add-toolbar-item.md
  packages/fluent-editor/package.json
Labels: documentation

#161 docs: replace console.log with Modal.message
  packages/docs/fluent-editor/demos/image-upload-before-upload.vue
  packages/docs/fluent-editor/demos/image-upload-option.vue
  packages/docs/package.json
  packages/fluent-editor/src/config/types/editor-config.interface.ts
  pnpm-lock.yaml
Labels: documentation

#165 fix: align justify icon missing
  packages/fluent-editor/src/config/icons.config.ts
  packages/fluent-editor/src/config/index.ts
Labels: bug

#166 fix: add toolbar tip for custom format
  packages/docs/fluent-editor/demos/add-toolbar-item.vue
Labels: bug

#167 feat(blot): Add divider module to toolbar
  packages/docs/fluent-editor/demos/custom-toolbar.vue
  packages/fluent-editor/src/config/i18n/en-us.ts
  packages/fluent-editor/src/config/i18n/zh-cn.ts
  packages/fluent-editor/src/config/icons.config.ts
  packages/fluent-editor/src/config/index.ts
  packages/fluent-editor/src/divider/index.ts
  packages/fluent-editor/src/fluent-editor.ts
  packages/fluent-editor/src/toolbar/toolbar-tip.ts
Labels: enhancement

#146 feat: header-list
  packages/docs/fluent-editor/.vitepress/sidebar.ts
  packages/docs/fluent-editor/demos/header-list-container.vue
  packages/docs/fluent-editor/demos/header-list.vue
  packages/docs/fluent-editor/docs/header-list.md
  packages/fluent-editor/package.json
  packages/fluent-editor/src/assets/style.scss
  packages/fluent-editor/src/config/i18n/en-us.ts
  packages/fluent-editor/src/config/i18n/zh-cn.ts
  packages/fluent-editor/src/fluent-editor.ts
  packages/fluent-editor/src/table/formats/header.ts
  packages/fluent-editor/src/toolbar/toolbar-tip.ts
  packages/fluent-editor/src/utils/is.ts
  pnpm-lock.yaml
Labels: enhancement

#175 fix: lineheight doesn't display tip text
  packages/fluent-editor/src/toolbar/toolbar-tip.ts
Labels: bug

#181 docs: add petercat assistant
  packages/docs/fluent-editor/.vitepress/config.ts
  packages/docs/fluent-editor/.vitepress/theme/index.ts
  packages/docs/fluent-editor/.vitepress/theme/insert-petercat-assistant.ts
Labels: documentation

#182 docs: fix petercat assistant style
  packages/docs/fluent-editor/.vitepress/theme/style.css
Labels: documentation
