Repository opentiny/tiny-editor, pull requests merged in 2025-07, with the labels that each got.

#274 docs: 添加贡献者图表
  README.md
  README.zh-CN.md
Labels: documentation

#280 fix(ci): 尝试修复构建错误
  .github/workflows/auto-deploy.yml
Labels: bug

#266 feat: Add AI module
  packages/docs/fluent-editor/.vitepress/sidebar.ts
  packages/docs/fluent-editor/demos/ai.vue
  packages/docs/fluent-editor/docs/demo/ai.md
  packages/fluent-editor/src/assets/ai.scss
  packages/fluent-editor/src/assets/style.scss
  packages/fluent-editor/src/fluent-editor.ts
  packages/fluent-editor/src/modules/ai/index.ts
  packages/fluent-editor/src/themes/snow.ts
  packages/fluent-editor/src/ui/icons.config.ts
  packages/fluent-editor/src/ui/icons.ts
Labels: enhancement

#290 fix(emoji): 修复因 DEFAULT_OPTIONS 类型导致的编译错误
  packages/fluent-editor/src/modules/emoji.ts
Labels: bug

#291 fix(ai): 修复因为代码风格导致 auto lint 错误
  packages/fluent-editor/src/modules/ai/index.ts
  packages/fluent-editor/src/ui/icons.config.ts
Labels: bug
