Repository opentiny/tiny-editor, pull requests merged in 2025-04, with the labels that each got.

#259 docs: add set formula content
  packages/docs/fluent-editor/demos/formula-mathlive.vue
  packages/fluent-editor/src/config/types/editor-modules.interface.ts
Labels: documentation

#260 ci: add issue auto label
  .github/labeler.yml
Labels: ci

#263 refactor: `scrollIntoView` to `scrollSelectionIntoView`
  packages/fluent-editor/src/modules/custom-clipboard.ts
Labels: refactoring

#264 feat: image toolbar
  packages/docs/fluent-editor/.vitepress/sidebar.ts
  packages/docs/fluent-editor/demos/file-upload.spec.ts
  packages/docs/fluent-editor/demos/image-toolbar-button.vue
  packages/docs/fluent-editor/demos/image-toolbar.vue
  packages/docs/fluent-editor/docs/demo/image-tool.md
  packages/fluent-editor/src/config/types/editor-modules.interface.ts
  packages/fluent-editor/src/modules/custom-image/actions/action.ts
  packages/fluent-editor/src/modules/custom-image/actions/image-toolbar-buttons.ts
  packages/fluent-editor/src/modules/custom-image/actions/index.ts
  packages/fluent-editor/src/modules/custom-image/actions/toolbar-action.ts
  packages/fluent-editor/src/modules/custom-image/actions/toolbar.ts
  packages/fluent-editor/src/modules/custom-image/blot-formatter.ts
  packages/fluent-editor/src/modules/custom-image/image-bar.ts
  packages/fluent-editor/src/modules/custom-image/image.ts
  packages/fluent-editor/src/modules/custom-image/index.ts
  packages/fluent-editor/src/modules/custom-image/options.ts
  packages/fluent-editor/src/modules/custom-image/specs/blot-spec.ts
  packages/fluent-editor/src/modules/custom-image/specs/custom-image-spec.ts
  packages/fluent-editor/src/modules/custom-image/specs/image-spec.ts
  packages/fluent-editor/src/modules/link/formats/link.ts
  packages/fluent-editor/src/modules/link/modules/tooltip.ts
  packages/fluent-editor/src/themes/snow.ts
Labels: enhancement

#268 refactor: remove useless code
  packages/fluent-editor/src/assets/fileBar.scss
  packages/fluent-editor/src/assets/imageBar.scss
  packages/fluent-editor/src/assets/link.scss
  packages/fluent-editor/src/modules/emoji/modules/toolbar-emoji.ts
Labels: refactoring
