Repository opentiny/tiny-editor, pull requests merged in 2025-02, with the labels that each got.

#225 chore: add type="module" to package.json
  packages/fluent-editor/package.json
  packages/fluent-editor/scripts/pre-release.cjs
Labels: v3

#229 fix: import dependency with function
  packages/fluent-editor/src/modules/custom-image/image-bar.ts
Labels: bug, v3

#230 style: code lint
  .github/labeler.yml
  packages/fluent-editor/package.json
Labels: v3

#231 fix: insert formula remove extra content
  packages/fluent-editor/src/modules/mathlive/tooltip.ts
Labels: bug, v3

#232 feat: table-up support
  packages/docs/fluent-editor/.vitepress/sidebar.ts
  packages/docs/fluent-editor/demos/custom-toolbar.vue
  packages/docs/fluent-editor/demos/get-content-delta.vue
  packages/docs/fluent-editor/demos/table-up-menu.vue
  packages/docs/fluent-editor/demos/table-up-resize.vue
  packages/docs/fluent-editor/demos/table-up-shortcut.vue
  packages/docs/fluent-editor/docs/demo/i18n.md
  packages/docs/fluent-editor/docs/modules/table-up.md
  packages/docs/package.json
  packages/fluent-editor/src/assets/style.scss
  packages/fluent-editor/src/assets/table-up.scss
  packages/fluent-editor/src/config/i18n/en-us.ts
  packages/fluent-editor/src/config/i18n/zh-cn.ts
  packages/fluent-editor/src/fluent-editor.ts
  packages/fluent-editor/src/index.ts
  packages/fluent-editor/src/modules/shortcut-key/index.ts
  packages/fluent-editor/src/modules/table-up/index.ts
  packages/fluent-editor/src/modules/table/better-table.ts
  packages/fluent-editor/src/modules/table/formats/list.ts
  packages/fluent-editor/src/modules/table/modules/table-operation-menu.ts
  packages/fluent-editor/src/modules/toolbar/toolbar-tip.ts
  packages/fluent-editor/src/themes/snow.ts
  packages/fluent-editor/src/ui/icons.ts
  pnpm-lock.yaml
Labels: enhancement, v4

#234 ci: add build v3 scripts
  package.json
  packages/docs/fluent-editor/.env.v3
  packages/docs/fluent-editor/.vitepress/config.ts
  packages/docs/package.json
Labels: ci, v3

#236 docs: add v3.x entry
  .github/labeler.yml
  packages/docs/fluent-editor/.vitepress/config.ts
  packages/fluent-editor/package.json
Labels: documentation

#238 chore: fix ssr build
  packages/docs/fluent-editor/.vitepress/config.ts
  packages/docs/fluent-editor/demos/i18n-custom.vue
  packages/docs/fluent-editor/demos/i18n.vue
  packages/docs/fluent-editor/demos/table-text-options.vue
  packages/docs/fluent-editor/demos/table-up-menu.vue
  packages/docs/fluent-editor/demos/table-up-resize.vue
  packages/docs/fluent-editor/demos/table-up-shortcut.vue
  packages/fluent-editor/src/modules/custom-clipboard.ts
  packages/fluent-editor/src/themes/snow.ts
  packages/fluent-editor/src/ui/icons.ts
Labels: bug
