Repository opentiny/tiny-editor, pull requests merged in 2025-01, with the labels that each got.

#184 fix(color): the text color selection does not show a checkmark
  packages/fluent-editor/src/assets/toolbar.scss
Labels: bug

#178 feat: remove header-list and toolbar-tip internal dependencies
  packages/docs/fluent-editor/.vitepress/sidebar.ts
  packages/docs/fluent-editor/demos/add-toolbar-item.vue
  packages/docs/fluent-editor/demos/header-list-container.vue
  packages/docs/fluent-editor/demos/header-list.vue
  packages/docs/fluent-editor/demos/toolbar-tip.vue
  packages/docs/fluent-editor/docs/header-list.md
  packages/docs/fluent-editor/docs/toolbar-tip.md
  packages/docs/package.json
  packages/fluent-editor/package.json
  packages/fluent-editor/src/assets/style.scss
  packages/fluent-editor/src/assets/toolbar.scss
  packages/fluent-editor/src/config/types/type.ts
  packages/fluent-editor/src/fluent-editor.ts
  packages/fluent-editor/src/fullscreen/handler.ts
  packages/fluent-editor/src/index.ts
  packages/fluent-editor/src/table/formats/header.ts
  packages/fluent-editor/src/table/modules/table-operation-menu.ts
  packages/fluent-editor/src/toolbar/toolbar-tip.ts
  pnpm-lock.yaml
Labels: enhancement, refactoring

#185 fix: docs bundle and description
  packages/docs/fluent-editor/demos/header-list-container.vue
  packages/docs/fluent-editor/demos/header-list.vue
  packages/docs/fluent-editor/docs/toolbar-tip.md
Labels: bug

#183 refactor: remove i18n variable in editor instance
  packages/fluent-editor/src/counter/index.ts
  packages/fluent-editor/src/custom-clipboard.ts
  packages/fluent-editor/src/fluent-editor.ts
  packages/fluent-editor/src/i18n/index.ts
  packages/fluent-editor/src/link/modules/tooltip.ts
  packages/fluent-editor/src/table/modules/table-operation-menu.ts
  packages/fluent-editor/src/toolbar/toolbar-tip.ts
Labels: refactoring

#189 docs: update README
  README.md
  README.zh-CN.md
  fluent-editor.png
Labels: documentation

#190 test: add e2e test for add-toolbar-item demo
  packages/docs/fluent-editor/demos/add-toolbar-item.spec.ts
  packages/docs/fluent-editor/demos/basic-usage.spec.ts
Labels: e2e-test

#193 refactor: simplify the fluent-editor.ts file, retaining only the logic related to module registration
  packages/docs/fluent-editor/demos/code-block-highlight.vue
  packages/docs/fluent-editor/demos/custom-toolbar.vue
  packages/docs/fluent-editor/demos/get-content-delta.vue
  packages/docs/fluent-editor/demos/get-content-html.vue
  packages/docs/fluent-editor/demos/toolbar-tip.vue
  packages/fluent-editor/src/config/index.ts
  packages/fluent-editor/src/core/fluent-editor.ts
  packages/fluent-editor/src/fluent-editor.ts
  packages/fluent-editor/src/fullscreen/handler.ts
  packages/fluent-editor/src/i18n/index.ts
  packages/fluent-editor/src/index.ts
  packages/fluent-editor/src/table/formats/list.ts
  packages/fluent-editor/src/themes/snow.ts
  packages/fluent-editor/src/ui/icons.config.ts
  packages/fluent-editor/src/ui/icons.ts
  pnpm-lock.yaml
Labels: refactoring

#195 docs: set toolbar-tip tipHoverable to false
  package.json
  packages/docs/fluent-editor/demos/toolbar-tip.vue
  packages/docs/package.json
  pnpm-lock.yaml
Labels: documentation

#196 feat(image): add right-click menu to save and copy image
  packages/fluent-editor/src/assets/imageBar.scss
  packages/fluent-editor/src/assets/style.scss
  packages/fluent-editor/src/modules/custom-image/BlotFormatter.ts
  packages/fluent-editor/src/modules/custom-image/image-bar.ts
Labels: enhancement

#202 fix: toolbar-tip error
  packages/docs/fluent-editor/demos/toolbar-tip.vue
  packages/docs/fluent-editor/docs/modules/toolbar-tip.md
  packages/docs/package.json
  pnpm-lock.yaml
Labels: bug

#207 docs: add readonly mode
  packages/docs/fluent-editor/.vitepress/sidebar.ts
  packages/docs/fluent-editor/demos/readonly.vue
  packages/docs/fluent-editor/docs/demo/readonly.md
Labels: documentation

#205 feat(toolbar): custom color picker save current pick color and add more color
  packages/fluent-editor/package.json
  packages/fluent-editor/src/assets/common.scss
  packages/fluent-editor/src/assets/image1.png
  packages/fluent-editor/src/assets/toolbar.scss
  packages/fluent-editor/src/config/i18n/en-us.ts
  packages/fluent-editor/src/config/i18n/zh-cn.ts
  packages/fluent-editor/src/core/fluent-editor.ts
  packages/fluent-editor/src/fluent-editor.ts
  packages/fluent-editor/src/modules/i18n.ts
  packages/fluent-editor/src/modules/toolbar/better-picker.ts
  packages/fluent-editor/src/modules/toolbar/index.ts
  packages/fluent-editor/src/themes/snow.ts
  packages/fluent-editor/src/ui/icons.config.ts
  packages/fluent-editor/src/ui/icons.ts
  pnpm-lock.yaml
Labels: enhancement

#210 fix: fix bg color svg
  packages/fluent-editor/src/ui/icons.config.ts
Labels: bug

#211 docs: add language switch
  packages/docs/fluent-editor/.vitepress/components/TranslateComponent.vue
  packages/docs/fluent-editor/.vitepress/config.ts
  packages/docs/fluent-editor/.vitepress/theme/index.ts
  packages/docs/fluent-editor/.vitepress/theme/insert-translate.ts
  packages/docs/fluent-editor/.vitepress/theme/style.css
Labels: documentation

#212 docs: modify Fluent Editor to TinyEditor
  .github/ISSUE_TEMPLATE/bug-report.yml
  CONTRIBUTING.md
  CONTRIBUTING.zh-CN.md
  LICENSE
  README.md
  README.zh-CN.md
  packages/docs/fluent-editor/.vitepress/components/TranslateComponent.vue
  packages/docs/fluent-editor/.vitepress/config.ts
  packages/docs/fluent-editor/.vitepress/sidebar.ts
  packages/docs/fluent-editor/.vitepress/theme/index.ts
  packages/docs/fluent-editor/.vitepress/theme/style.css
  packages/docs/fluent-editor/demos/add-toolbar-item.vue
  packages/docs/fluent-editor/demos/basic-usage.spec.ts
  packages/docs/fluent-editor/demos/basic-usage.vue
  packages/docs/fluent-editor/demos/get-content-delta.vue
  packages/docs/fluent-editor/demos/get-content-html.vue
  packages/docs/fluent-editor/demos/readonly.vue
  packages/docs/fluent-editor/demos/set-content-delta.vue
  packages/docs/fluent-editor/demos/set-content-html.vue
  packages/docs/fluent-editor/docs/api/fluent-editor-class.md
  packages/docs/fluent-editor/docs/api/fluent-editor-instance.md
  packages/docs/fluent-editor/docs/api/options.md
  packages/docs/fluent-editor/docs/demo/markdown.md
  packages/docs/fluent-editor/docs/quick-start.md
  packages/docs/fluent-editor/docs/used-in-framework.md
  packages/docs/fluent-editor/index.md
Labels: documentation

#214 feat: shortcut key and quick menu
  packages/docs/package.json
  packages/fluent-editor/package.json
  packages/fluent-editor/src/assets/style.scss
  packages/fluent-editor/src/config/i18n/en-us.ts
  packages/fluent-editor/src/config/i18n/zh-cn.ts
  packages/fluent-editor/src/fluent-editor.ts
  packages/fluent-editor/src/modules/link/index.ts
  packages/fluent-editor/src/modules/quick-menu.ts
  packages/fluent-editor/src/modules/shortcut-key/index.ts
  packages/fluent-editor/src/modules/toolbar/toolbar-tip.ts
  packages/fluent-editor/src/themes/snow.ts
  pnpm-lock.yaml
Labels: enhancement, v4

#216 docs: add projects
  .github/workflows/auto-deploy.yml
  package.json
  packages/projects/.gitignore
  packages/projects/.vscode/extensions.json
  packages/projects/README.md
  packages/projects/index.html
  packages/projects/package.json
  packages/projects/public/vite.svg
  packages/projects/src/App.vue
  packages/projects/src/assets/vue.svg
  packages/projects/src/components/NotFound.vue
  packages/projects/src/main.ts
  packages/projects/src/style.css
  packages/projects/src/views/home/Home.vue
  packages/projects/src/views/yuque/YuQue.vue
  packages/projects/src/vite-env.d.ts
  packages/projects/tsconfig.app.json
  packages/projects/tsconfig.json
  packages/projects/tsconfig.node.json
  packages/projects/vite.config.ts
  pnpm-lock.yaml
Labels: documentation

#222 fix: line-height should be block scope and toolbar change with cursor
  packages/docs/fluent-editor/demos/custom-toolbar.vue
  packages/docs/fluent-editor/demos/toolbar-tip.vue
  packages/fluent-editor/src/assets/common.scss
  packages/fluent-editor/src/assets/lineHeight.scss
  packages/fluent-editor/src/assets/toolbar.scss
  packages/fluent-editor/src/attributors/line-height.ts
  packages/fluent-editor/src/config/i18n/en-us.ts
  packages/fluent-editor/src/config/i18n/zh-cn.ts
  packages/fluent-editor/src/config/types/toolbar-item.interface.ts
  packages/fluent-editor/src/fluent-editor.ts
  packages/fluent-editor/src/modules/toolbar/toolbar-tip.ts
  packages/fluent-editor/src/themes/snow.ts
Labels: bug, v4
