Repository opentiny/tiny-editor, pull requests merged in 2025-03, with the labels that each got.

#239 feat: i18n text template replace
  packages/docs/fluent-editor/demos/i18n-custom.vue
  packages/docs/fluent-editor/demos/i18n.vue
  packages/docs/fluent-editor/demos/table-up-shortcut.vue
  packages/docs/fluent-editor/docs/demo/i18n.md
  packages/docs/package.json
  packages/fluent-editor/package.json
  packages/fluent-editor/src/config/editor.config.ts
  packages/fluent-editor/src/config/i18n/en-us.ts
  packages/fluent-editor/src/config/i18n/zh-cn.ts
  packages/fluent-editor/src/core/fluent-editor.ts
  packages/fluent-editor/src/fluent-editor.ts
  packages/fluent-editor/src/index.ts
  packages/fluent-editor/src/modules/i18n.ts
  packages/fluent-editor/src/modules/link/modules/tooltip.ts
  packages/fluent-editor/src/modules/shortcut-key/index.ts
  packages/fluent-editor/src/modules/table-up/index.ts
  packages/fluent-editor/src/modules/toolbar/toolbar-tip.ts
  pnpm-lock.yaml
Labels: enhancement

#242 fix: vitepress default style effect package origin style
  packages/docs/fluent-editor/.vitepress/config.ts
  packages/docs/package.json
  packages/docs/postcss.config.ts
  pnpm-lock.yaml
Labels: bug

#241 fix: update table-up
  packages/docs/package.json
  packages/fluent-editor/src/assets/style.scss
  packages/fluent-editor/src/assets/table-up.scss
  pnpm-lock.yaml
Labels: bug

#244 test: fix e2e test
  packages/docs/fluent-editor/.vitepress/theme/insert-deps-version.ts
  packages/docs/fluent-editor/demos/add-toolbar-item.spec.ts
  packages/docs/fluent-editor/demos/basic-usage.spec.ts
  packages/docs/fluent-editor/demos/image-upload.spec.ts
  packages/docs/playwright.config.ts
Labels: e2e-test

#247 test: add set-content-html test
  packages/docs/fluent-editor/demos/set-content-html.spec.ts
Labels: e2e-test

#248 docs: rename getContent to getContents
  packages/docs/fluent-editor/docs/demo/get-content.md
Labels: documentation

#250 docs: optimize projects
  packages/docs/fluent-editor/.vitepress/sidebar.ts
  packages/projects/package.json
  packages/projects/src/main.ts
  packages/projects/src/style.css
  packages/projects/src/views/yuque/YuQue.vue
  pnpm-lock.yaml
Labels: documentation

#251 fix: fix list-style
  packages/docs/fluent-editor/docs/demo/file-upload.md
  packages/fluent-editor/src/assets/editor.scss
Labels: bug

#255 fix: tailwind does not support sass in vite plugin
  packages/projects/src/main.ts
  packages/projects/src/style.scss
Labels: bug
